<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="">Home </a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/signup">Sign-Up</a>
        <a class="nav-item nav-link disabled"  routerLink="#"> WELCOME TO HAIKU-WRITER </a>
        <a class="nav-item nav-link  ">About</a>
      </div>
    </div>
</nav>
<br>
<div class="row">
  <div class="col-2 border ">
    
  </div>
  <div class="col">
    <h2 class="htag list-group-item-info">HaikuWriter</h2>
    <p class="list-group-item list-group-item-action list-group-item-light">
      A random haiku generator using user-submitted lines that also 
      allows users to share their favorite random haikus with their friends over social media.</p>
    
    <h3 class="htag list-group-item-info">Product Overview</h3>
    <p class="list-group-item list-group-item-action list-group-item-light">
       Haiku Writer is a program bringing the joy of haikus to the masses in a social setting,
       designed to make it easy to share your favorite haikus, discuss your love of haiku, or 
       contribute to the generator by adding your own haiku lines to the many already contained.
        Get relevant haiku lines through our streamlined user-generated tagging system, and tag 
        your own so others can find it easier!</p>
      <p class="list-group-item list-group-item-action list-group-item-light">
        Product Goal: A haiku is a traditional japanese poem containing three lines of 5, 7, and
         5 syllables respectively. Often these short poems are used to demonstrate humor as well
          as other emotions in a short artistic style. This is one of the many types of poems that
           the world has to offer. With our web application we will provide a way for our users 
           to generate random haikus that they can save to their favorites. Users can also view a 
          collection of haikus written by other users. The application will allow users to submit
          their own haikus or even lines of haikus that will later be reviewed by our admin team 
          and if they are approved will be displayed to other users on our site. With a tagging
           system, users can easily filter and find haiku-segments based on their categories
            assigned to them. A tagging system will also be used to build and generate haikus 
            based on the tags assigned upon creation of those lines.
      </p>
  
  </div>
</div>
