.formdiv{
    margin: 5%;
    width: 40%;
    height: 100;
    border: outset; 
    border-radius: 2%;
    padding: 2%
}

input[type=submit]{
    width: 20% ;
}

input{
    width: 50%;
}
h2{
    text-align: center;
}