<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/landingpage">Home </a>
        <a class="nav-item nav-link" routerLink="/writehaiku"> Write Haiku </a>
        <!-- <a class="nav-item nav-link " href="/usersettings">Settings</a> -->
        <a class="nav-item nav-link disabled" id="welcom"> Welcome {{user.firstName}} </a>
        <a class="nav-item nav-link " routerLink="/forum">Forum</a>
        <a class="nav-item nav-link " *ngIf="user.adminStatus" routerLink="/adminapprove">Approve Haiku</a>
        <button class="nav-item nav-link" (click)="logout()">Logout</button>

      </div>
    </div>
</nav>


<div>
    <h2>Update Your information </h2>
    <form class="update" #updating="ngForm" (ngSubmit)="onSubmit(updating)" >
        <!-- <label for="username">Username:</label>
        <input type="text" #username="ngModel" placeholder="Username" name="username" [(ngModel)]="user.username"><br> -->
        <label for="firstname">First Name:</label>
        <input type="text" #firstname="ngModel" placeholder="First Name" name="firstname" [(ngModel)]="user.firstName"><br>
        <label for="lastname">Last Name:</label>
        <input type="text" #lastName="ngModel" placeholder="Last Name" name="lastname" [(ngModel)]="user.lastName"><br>
        <label for="email">Email:</label>
        <input type="email" #email="ngModel" placeholder="Email" name="email" [(ngModel)]="user.email"><br>
        
        <label for="facebookname">FaceBook Username</label>
        <input type="text" #facebookname="ngModel" placeholder="Facebook Username" name="facebookname" [(ngModel)]="user.faceBookName"><br>
        <label for="twittername">Twitter Username:</label>
        <input type="text" #facebookname="ngModel" placeholder="Twitter Username" name="twittername" [(ngModel)]="user.twitterName"><br>

        <input type="submit" value="Update">
      </form>
      <div *ngIf="errorMessage">Atleast One Field Is Required</div>
</div>
<br>

<div>
    <h3>Update Password</h3>
    <form class="updatePassword" #updatePassword="ngForm" (ngSubmit)=" onUpdatePassword(updatePassword)">
        
        <label for="password">Current Password:</label>
        <input type="password" name="password" ngModel required ><br>
        <div *ngIf="emptyInput">
            <label class="validation-message">This Field Is Required.</label><br>
          </div>
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" ngModel required><br>
        
        <input type="submit" value="Update Password">
    </form>
    <div *ngIf="errorMessage">Sorry, Password Update Was Unsuccessful</div>
</div>