
<h1>Welcome {{user.firstName}}</h1>

<button (click)="logout()">Logout</button>

<button (click)="WriteHaiku()">Write Haiku</button>

<button (click)="GeneHaiku()">Generate Haiku</button>

<button [routerLink]="['/wordCorner']">Word Corner</button>

<button href="/usersettings">Settings</button>

<div *ngIf="haikuDTO">
    {{haikuDTO.haikuLine1}}<br>
    {{haikuDTO.haikuLine2}}<br>
    {{haikuDTO.haikuLine3}}<br>
    <button (click) = SaveHaiku()>Save To Favorites</button>
</div>
<!-- <button (click)="toForum()">Forum </button> -->

<ul>
    <h3>List of Haikus</h3>
    <li *ngFor="let h of haikus">
        {{h.haikuLine1}}<br>
        {{h.haikuLine2}}<br>
        {{h.haikuLine3}}
        <br><hr><br>
    </li>

</ul>

<div>
    <app-admin-privilege></app-admin-privilege>
</div>