<div class="outer">
    <h1>Word Corner</h1>
    <div>
        <input id = "userInput"><br><br>
        <button class="btn btn-primary" (click) = "getSyn()"> Get Synonyms</button> &nbsp;
        <button class="btn btn-primary" (click) = "getRhy()"> Get Rhymes</button>&nbsp;
        <button class="btn btn-primary" (click) = "getAnt()"> Get Antonyms</button>&nbsp;
        <button class="btn btn-primary" (click) = "getSoundsLike()"> Get Sound Like Words</button>
        
        <li *ngFor="let w of words">
            {{w.word}}
        </li>
    </div>
    
</div>
