<div>
    <!-- Forum view, a list of threads -->
    <button (click)="toLandingPage()">Home</button>
    <div>
        <form class= "createAThread">
            <label>Thread Description: </label>
            <input type="text" #line = "ngModel" placeholder="Name your thread" name="threaddesc" [(ngModel)]="thread.description">
            <input type="submit" value="Create New Thread" (click)=CreateThread()>
        </form>
    </div>
    <ul>
        <li *ngFor="let thread of threads">
            <button (click)="ThreadPage(thread.threadid)">
                Thread: {{thread.threadid}} {{thread.description}} - - - Author: {{thread.username}}
            </button>
        </li>
    </ul>
</div>
