<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/landingpage">Home </a>
        <a class="nav-item nav-link" href="/writehaiku"> Write Haiku </a>
        <a class="nav-item nav-link " href="/usersettings">Settings</a>
        
        <a class="nav-item nav-link " href="/forum">Forum</a>
        
        
        <button class="nav-item nav-link" (click)="logout()">Logout</button>

      </div>
    </div>
</nav>

<br>

<div>
    <div>
        <form class= "createAThread">
            <label>Thread Description: </label>
            <input type="text" #description = "ngModel" placeholder="Name your thread" name="description" [(ngModel)]="thread.description">
            <input type="submit" value="Create New Thread" (click)=CreateThread() >
        </form>
    </div>
    <ul>
        <li *ngFor="let thread of threads">
            <button (click)="ThreadPage(thread.threadId)">
                Thread: {{thread.threadId}} {{thread.description}} - - - Author: {{thread.username}}
            </button>
        </li>
    </ul>
</div>


