/* You can add global styles to this file, and also import other style files */
.validation-message{
    color: red;
}

.alert{
    color: red;
}

.success{
    color: green;
}

footer{
    text-align: center;
    position: fixed;
    margin-left: 45%;
   bottom: 0;
}