

<div class="outer">
  <div>
    <h3>Approve Haiku Lines</h3>
      <ol class="list-group">
        <li class="list-group-item" *ngFor="let hl of haikulines">
          Haiku Line: {{hl.line}} - - Author: {{hl.username}}
          Haiku Id: {{hl.haikuLineId}}<br>
          <button (click)="ApproveHaikuLine(hl.haikuLineId)">Approve</button> &nbsp;
          <button (click)="DeleteHaikuLine(hl.haikuLineId)">Delete</button>
        </li>
      </ol>
    </div>
  <hr>
  <div>
    <h3>Approve Haiku </h3>
    <ol class="list-group">
      <li  class="list-group-item" *ngFor="let h of haikus">
        Haiku Approved: {{h.approved}} - - Author: {{h.username}}<br>
        {{h.haikuLine1}}<br>
        {{h.haikuLine2}}<br>
        {{h.haikuLine3}}<br>
        Haiku Id: {{h.haikuId}}
        <br>
        <button (click) = "ApproveHaiku(h.haikuId)">Approve</button> &nbsp;
        <button (click) = "DeleteHaiku(h.haikuId)">Delete</button>
      </li>
    </ol>
  </div>
</div>
