<p>admin-approve works!</p>

<div>
    <ol>
      <li *ngFor="let hl of haikulines">
        Haiku Line: {{hl.line}} - - Author: {{hl.username}}
        Haiku Id: {{hl.haikuLineId}}
        <button (click)="ApproveHaikuLine(hl.haikuLineId)">Approve</button>
        <button (click)="DeleteHaikuLine(hl.haikuLineId)">Delete</button>
      </li>
    </ol>
  </div>

<div>
  <ol>
    <li *ngFor="let h of haikus">
      Haiku Approved: {{h.approved}} - - Author: {{h.username}}
      <button>Approve</button>
      <button>Delete</button>
    </li>
  </ol>
</div>