<div>
    <!--Thread view, a list of messages-->
    <button (click)="toLandingPage()">Home</button>
    <button (click)="toForum()">Back to Forum</button>
    <div>
        <form class= "createAMethod">
            <label>Message: </label>
            <input type="text" #messagebody = "ngModel" placeholder="What's on your mind?" name="messagebody" [(ngModel)]="message.messageBody">
            <input type="submit" value="Add Message" (click)=CreateMessage()>
        </form>
    </div>
    <ul>
        <li *ngFor="let message of messages">
            <td>
                Author: {{message.username}}
                Post: {{message.messageBody}}
            </td>
        </li>
    </ul>
</div>