<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/landingpage">Home </a>
        <a class="nav-item nav-link" href="/writehaiku"> Write Haiku </a>
        <a class="nav-item nav-link " href="/usersettings">Settings</a>
        <a class="nav-item nav-link " href="/forum">Forum</a>  
        <button class="nav-item nav-link" (click)="logout()">Logout</button>

      </div>
    </div>
</nav>
<br>
<div>
    <div>
        <form class= "createAMethod">
            <label>Message: </label>
            <input type="text" #messagebody = "ngModel" placeholder="What's on your mind?" name="messagebody" [(ngModel)]="message.messageBody">
            <input type="submit" value="Add Message" (click)=CreateMessage()>
        </form>
    </div>
    <ul>
        <li *ngFor="let message of messages">
            <td>
                Author: {{message.username}}
                Post: {{message.messageBody}}
            </td>
        </li>
    </ul>
</div>