<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="">Home </a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/signup">Sign-Up</a>
      <a class="nav-item nav-link disabled" routerLink="#">About</a>
    </div>
  </div>
</nav>
<br>
<div>
  <h2>Sign Up</h2>
    <form class="signup form-group row "  #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && signup(signUpForm)">
        <label class="col-sm-2 col-form-label" for="username">Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #username="ngModel" placeholder="Username" name="username" [(ngModel)]="user.username" 
        required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
        </div>
        <br>
        <div *ngIf="signUpForm.submitted && !username.valid">
          <label class="validation-message">This Field Is Required.</label>
        </div>
        <br>
        <label class="col-sm-2 col-form-label" for="firstname">First Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #firstName="ngModel" placeholder="First Name" name="firstName" [(ngModel)]="user.firstName"
          required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
        </div>
        <br>
         <div *ngIf="signUpForm.submitted && !firstName.valid">
          <label class="validation-message">This Field Is Required.</label>
        </div>
      <br>
        
        <label class="col-sm-2 col-form-label" for="lastname">Last Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #lastName="ngModel" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" 
          required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
        </div>
        <br>
        <div *ngIf="signUpForm.submitted && !lastName.valid">
          <label class="validation-message">This Field Is Required.</label>
        </div>

        <br>
        <label class="col-sm-2 col-form-label" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" #email="ngModel" placeholder="Email" name="email" [(ngModel)]="user.email"
          required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
        </div>
        <div *ngIf="signUpForm.submitted && !email.valid">
          <label *ngIf="email.errors!.required" class="validation-message">This Field Is Required.</label>
          <label *ngIf="email.errors!.pattern" class="validation-message">Please Enter A Valid Email.</label>
        </div>
        <br>
        
        <label class="col-sm-2 col-form-label" for="password">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" #password="ngModel" placeholder=" Password " name="password" [(ngModel)]="user.password" 
          required minlength="5" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }"> 
        </div>
        <br>
        <div *ngIf="signUpForm.submitted && !password.valid">
          <label *ngIf="password.errors!.required" class="validation-message">This Field Is Required.</label>
          <label *ngIf="password.errors!.minlength" class="validation-message">Password Must be Atleast 5 Characters Long.</label>
        </div>
        
        <br>
        <!-- <label for="conpassword">Confirm Password:</label>
        <input type="text" placeholder="Confirm  Password" name="conpassword" [(ngModel)]="conpassword"> -->
        <label class="col-sm-2 col-form-label" for="facebookname">FaceBook Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #facebookname="ngModel" placeholder="Facebook Username" name="facebookname" [(ngModel)]="user.faceBookName">
        </div>
        <br>
        <label class="col-sm-2 col-form-label" for="twittername">Twitter Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #facebookname="ngModel" placeholder="Twitter Username" name="twittername" [(ngModel)]="user.twitterName">
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="SignUp">
      </form>
</div>
<br>
<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Sign up successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>