
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/landingpage">Home </a>
        <a class="nav-item nav-link" routerLink="/writehaiku"> Write Haiku </a>
        <a class="nav-item nav-link disabled" id="welcom"> Welcome {{user.firstName}} </a>
        <a class="nav-item nav-link " routerLink="/forum">Forum</a>
        <button class="nav-item nav-link" (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>

<div class="row">
  <div class="col">
    <h1>Write a Line</h1>
    <div>
        <form class = "writeALine">
            <label>Line: </label>
            <input type="text" class="form-control" #line ="ngModel" placeholder="write a line here" name = "line" [(ngModel)] = "haikuLine.line">
            <label>Tags: </label>
            <input type="text" class="form-control" #tags ="ngModel" placeholder="write tags" name = "tags" [(ngModel)] = "haikuLine.tags">
            <label>Syllable</label>
            <input type="number" class="form-control" #syllable ="ngModel" placeholder="5 or 7" name = "line" [(ngModel)] = "haikuLine.syllable"><br>
            <input type="submit" class="btn btn-primary" value="Submit Haiku Line" (click)=SubmitHaikuLine()>
        </form>
        <div *ngIf="showSucessMessage">
          <label class="success" >Line is Successfully Save</label>
        </div>
    </div>
    <hr>
    <h1>Write a Haiku</h1>
    <div>
        <form class = "writeAHaiku">
            <label>Line 1: </label>
            <input type="text" class="form-control" #haikuLine1 ="ngModel" placeholder="write a line here" name = "line1" [(ngModel)] = "haiku.haikuLine1">
            <label>Line 2: </label>
            <input type="text" class="form-control" #haikuLine2 ="ngModel" placeholder="write a line here" name = "line2" [(ngModel)] = "haiku.haikuLine2">
            <label>Line 3: </label>
            <input type="text" class="form-control" #haikuLine3 ="ngModel" placeholder="write a line here" name = "line3" [(ngModel)] = "haiku.haikuLine3">
            <label>Tags: </label>
            <input type="text" class="form-control" #tags ="ngModel" placeholder="write tags" name = "tags" [(ngModel)] = "haiku.tags"><br>
            <input type="submit" class="btn btn-primary" value="Submit Haiku" (click)=SubmitHaiku()>
        </form>
        <div *ngIf="showSucessMessage1">
          <label class="success" >Haiku is Successfully Save</label>
        </div>
    </div>
    
  </div>
  <div class="col">
    <app-word-ideas></app-word-ideas>
  </div>
  
</div>
